{erl_opts, [debug_info,{src_dirs, ["src"]}]}.

{require_otp_vsn, "R14B0[234]|R15|R16"}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{deps, [
       {lager, "2.0.0", {git, "git://github.com/basho/lager", {tag, "2.0.0"}}},
       {lager_syslog, "2.0.0", {git, "git://github.com/basho/lager_syslog", {tag, "2.0.0"}}},
       {ranch,".*", {git,"https://github.com/extend/ranch.git",{branch,"master"}}},
       {yamerl,".*",{git,"https://github.com/yakaz/yamerl.git",{branch,"master"}}},
       {distreg,".*",{git,"https://github.com/biokoda/distreg.git",{branch,"master"}}}
       ]}.

{port_specs,[ {"nowhere","priv/fs_watcher",["c_src/*.c"]} ]}.

