{erl_opts, [debug_info,{src_dirs, ["src"]}]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{deps, [
       {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.1.0"}}},
       {ranch, ".*", {git, "git://github.com/ninenines/ranch.git", "1.0.0"}},
       {yamerl,".*",{git,"https://github.com/yakaz/yamerl.git",{branch,"master"}}},
       {distreg,".*",{git,"https://github.com/biokoda/distreg.git",{branch,"master"}}}
       ]}.

{port_specs,[ {"nowhere","priv/fs_watcher",["c_src/*.c"]} ]}.

