{erl_opts, [{src_dirs, ["src"]}]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
       {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.6"}}},
       {ranch, ".*", {git, "https://github.com/ninenines/ranch.git", "1.0.0"}},
       {distreg,".*",{git,"https://github.com/biokoda/distreg.git",{branch,"master"}}}
       ]}.

{port_specs,[ {"nowhere","priv/fs_watcher",["c_src/*.c"]} ]}.

